<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz"
	xmlns:sec="http://www.thymeleaf.org"
	layout:decorate="~{layout/default}">
<body>
    <main layout:fragment="content">
		<div th:replace="~{fragments/forms :: open-button(targetId='addLabelsForm', text='Add New Labels')}"></div>

		<div sec:authorize="hasRole('ADMIN')" id="addLabelsForm" class="collapse mb-4">
			<div class="card card-body shadow-sm">
				<form th:action="@{/admin/labels/save}" th:object="${newLabel}" method="post" class="row g-3">
					<div class="col-md-3">
						<input type="text" th:field="*{key}" class="form-control" placeholder="key" required>
					</div>
					<div class="col-md-4">
						<input type="text" th:field="*{label}" class="form-control" placeholder="Label">
					</div>
					<div class="col-md-2">
						<button type="submit" class="btn btn-success w-100">Save</button>
					</div>
				</form>
			</div>
		</div>

		<table id="labelsTable" class="datatables table table-striped table-hover stripe" style="display:none;">
			<thead>
				<tr>
					<th sec:authorize="hasRole('ADMIN')"></th>
					<th th:text="${labelSettings['label_key']}">key</th>
					<th th:text="${labelSettings['label_label']}">label</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="label : ${labels}">
					<td sec:authorize="hasRole('ADMIN')">
						<form th:action="@{/admin/labels/delete/{id}(id=${label.labelId})}" method="post" class="d-inline">
							<button type="button"
									style="background: none; border: none; padding: 0; cursor: pointer; color: #dc3545;"
									onclick="submitForm(this, 'Are you sure? This will permanently delete this label.')">
								<i class="fa-solid fa-x"></i>
							</button>
						</form>
					</td>
					<td th:text="${label.key}"></td>
					<td th:text="${label.label}"></td>
				</tr>
			</tbody>
		</table>

		<script>
			$(document).ready(function () {
				$('#labelsTable').DataTable({
					"pageLength": 25,
					"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
					"paging": true,
					"lengthChange": true,
					"searching": true,
					"ordering": true,
					"info": true,
					"autoWidth": false,
					"responsive": true,
					"order": [{ "idx": 1, "dir": 'asc' }],  
					"columnDefs": [
						{ width: '2%', targets: [0] }, 
						{ width: '30%', targets: [1,2] }, 
						{ orderable: false, targets: [0] }
					],
					initComplete: function() {
						$(this).show(); // Show table after DataTables is ready
					}
				});
			});
		</script>
    </main>
</body>
</html>
