<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
	<div th:fragment="adminFields(userDto)">
		<div sec:authorize="hasRole('ADMIN')">
			<hr class="my-4">
			<h5 class="mb-3">Administrative Controls</h5>
			<div class="row g-3 mb-3">
				
				<!-- isAdmin -->
				<div class="col-md-4">
					<div class="form-check form-switch mt-2">
						<input class="form-check-input" type="checkbox" 
							id="isAdmin" name="isAdmin" 
							th:checked="${userDto.isAdmin}" />
						<label class="form-check-label" for="isAdmin">System Administrator</label>
					</div>
				</div>
				
				<!-- canEdit -->
				<div class="col-md-4">
					<div class="form-check form-switch mt-2">
						<input class="form-check-input" type="checkbox" 
							id="canEdit" name="canEdit" 
							th:checked="${userDto.canEdit}" />
						<label class="form-check-label" for="canEdit">Can Edit Content</label>
					</div>
				</div>
				
				<!-- isInactive -->
				<div class="col-md-4">
					<div class="form-check form-switch mt-2">
						<input class="form-check-input" type="checkbox" 
							id="isActive" name="isActive" 
							th:checked="${userDto.isActive}" />
						<label class="form-check-label" for="canEdit">Active Account</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</html>
