<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz">
	<head th:replace="~{fragments/head :: head-fragment}">
	</head>
	<body>
		<div th:replace="~{fragments/header :: header-fragment}"></div>
		<nav th:replace="~{fragments/navbar :: nav-fragment}"></nav>
		<div class="content-cont table">
			<nav th:replace="~{fragments/header :: title-fragment}"></nav>
			<main layout:fragment="content"></main>
		</div>
		<footer th:replace="~{fragments/footer :: footer-fragment}"></footer>
		<div th:replace="~{fragments/foot :: foot-fragment}"> </div>
	</body>
</html>
