<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragments/head:: includes(location=${location})}"></div>
	</head>
	<body class="full-page-content">
		<div th:replace="~{fragments/head:: header(location=${location})}"></div>
		<div th:replace="~{fragments/head:: menus(menus=${menus})}"></div>
        <div class="content-cont">
            <div th:replace="~{fragments/body:: title(title=${pageTitle})}"></div>
            <div th:if="${param.error}" style="color: red;"> Invalid username or password.  </div>
            <div th:if="${param.logout}" style="color: green;"> You have been logged out.  </div>
            <form th:action="@{/login}" method="post">
                <div class="input-cont password-input-cont">
                    <label for="text-username" class="input-label">User Name</label>
                    <input id="text-username" class="input text-input" type="text" name="username" required />
                    <label for="password-password" class="input-label">Password</label>
                    <input id="password-password" class="input text-input" type="password" name="password" required />
                </div>
                <button class="input submit-input" type="submit">Login</button>
            </form>
        </div>
		<div th:replace="~{fragments/foot:: footer}"></div>
	</body>
</html>
