<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz"
	layout:decorate="~{layout/default}">
	<body>
		<main layout:fragment="content"> 
			<table id="userTable" class="datatables table table-striped table-hover stripe" style="width:100%;display:none;">
				<thead>
					<tr>
						<th>Started Date</th>
						<th>Ended Date</th>
						<th>File Name</th>
						<th>Status</th>
						<th>Error Message</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="migration : ${migrations}">
						<td th:text="${#temporals.format(migration.startedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${#temporals.format(migration.endedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${migration.filename}"></td>
						<td th:text="${migration.status}"></td>
						<td th:text="${migration.errorMessage}"></td>
					</tr>
				</tbody>
			</table>
			<script>
				$(document).ready(function () {
					$('#userTable').DataTable({
						"pageLength": -1,
						"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
						"paging": true,
						"lengthChange": true,
						"searching": true,
						"ordering": true,
						"info": true,
						"autoWidth": false,
						"order": { "idx": 0, "dir": 'asc' }, 
						"columnDefs": [
							{ width: '200px', targets: [0, 1] }
						],
						"responsive": true,
                        initComplete: function() {
                            $(this).addClass('d-some');
                        }
					});
				});
			</script>
		</main>
	</body>
</html>