<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz"
	layout:decorate="~{layout/default}">
	<body>
		<h2>/user/list.html</h2>
        <div layout:fragment="content"> 
            <table id="userTable" class="datatables table table-striped table-hover stripe" style="display:none;">
                <thead>
                    <tr>
                        <th th:text="${labelSettings['edit_col']}">edit</th>
                        <th th:text="${labelSettings['username']}">user name</th>
                        <th th:text="${labelSettings['first_name']}">first name</th>
                        <th th:text="${labelSettings['last_name']}">last name</th>
                        <th th:text="${labelSettings['user_email']}">email</th>
                        <th th:text="${labelSettings['is_admin']}">is admin?</th>
                        <th th:text="${labelSettings['can_edit']}">can edit?</th>
                        <th th:text="${labelSettings['inactive_date']}">inactive date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td style="text-align: center;">
                            <a th:href="@{/admin/users/edit/{id}(id=${user.userId})}"
                                style="text-decoration: none;"
                                title="Edit this user">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.isAdmin}"></td>
                        <td th:text="${user.canEdit}"></td>
                        <td>
                            <span th:text="${#temporals.format(user.inactiveDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                $(document).ready(function () {
                    $('#userTable').DataTable({
                        "pageLength": -1,
                        "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "order": { "idx": 2, "dir": 'asc' }, 
                        "columnDefs": [
                            { width: '2%', targets: [0, 1] }, 
                            { orderable: false, targets: [0] }
                        ],
                        "responsive": true,
                        initComplete: function() {
                            $(this).addClass('d-some');
                        }
                    });
                });
            </script>
        </div>
		</div>
	</body>
</html>
