<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="title(title)">
        <div class="sub-header-cont" th:text="${title}">Page Title</div>
    </div>

    <div th:fragment="content(title, content)">
        <div class="content-cont">
            <div th:replace="~{fragments/body:: title(title=${title})}"></div>
            <div th:utext="${content}">Main Content</div>
        </div>
    </div>

    <div th:fragment="contentUsers(title, users)">
        <div class="content-cont">
            <div th:replace="~{fragments/body:: title(title=${title})}"></div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First</th>
                        <th>Last</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Iterate over the list of products provided by the controller -->
                    <tr th:each="user : ${users}">
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:fragment="loginForm">
        <div class="content-cont">
            <div th:replace="~{fragments/body:: title(title=${title})}"></div>
            <!-- Error Message Handling -->
            <div th:if="${param.error}" style="color: red;">
                Invalid username or password.
            </div>
            
            <!-- Logout Message Handling -->
            <div th:if="${param.logout}" style="color: green;">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <div>
                    <label>Username:</label>
                    <input type="text" name="username" required />
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" name="password" required />
                </div>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</html>
