<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer-fragment">
            <div class='footer-cont'> 
                <p>&copy;<span th:text="${#dates.year(#dates.createNow())}">2025</span> The Brain Dribbler</p>
            </div>
            <dialog id="pageModal" class='page-modal'>
                <button id="closeModal"> X </button>
                <div id="pageContent" class='page-content'></div>
            </dialog>
        </div>
    </body>
</html>