<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:fragment="footer-fragment">
            <div class='footer-cont'> 
                <div class="legal-info">
                    <small>
                        &copy; <span th:text="${#temporals.year(#temporals.createNow())}">2024</span> 
                        Brain Dribbler. All rights reserved.
                    </small>
                </div>
                <div class="version-info">
                    <small class="text-muted">
                        <span th:text="${gitBranch}">main</span> 
                        (<span th:text="${gitHash}">abcd123</span>)
                    </small>
                </div>
            </div>
            <dialog id="pageModal" class='page-modal'>
                <button id="closeModal"> X </button>
                <div id="pageContent" class='page-content'></div>
            </dialog>
        </div>
    </body>
</html>