<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="head-fragment">
        <meta charset="UTF-8">
        <title th:text="'Brain Dribbler' + (${location} ? ' - ' + ${location} : '')"></title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon-16x16.png}" />

        <link rel="stylesheet" type='text/css' media='all' th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/datatables/datatables.min.css}" integrity="sha384-R2Fgx8DD9wAkVgw6wT8uF062Yb82xSJ9SoEeo6yG3TnkFB1xM/YFXwjBYo0kQ0ct" crossorigin="anonymous" />
        <script th:src="@{/js/datatables/datatables.min.js}" integrity="sha384-UeCeWNYLaY2mvxN9AsU1R1+aV0hde/ksgd68wqgf87HJF8ge3gGnhUPPh0hHFooK" crossorigin="anonymous"></script>
    </th:block>
</html>
