<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<nav th:fragment="nav-fragment" class="links-cont menubar navbar-expand">
		<div class="menu-container">
			<ul class="navbar-nav">
				<th:block th:each="item : ${menuItems}">
					<th:block th:replace="~{::menu-item(item=${item}, depth=0)}"></th:block>
				</th:block>
			</ul>
		</div>
	</nav>

	<th:block th:fragment="menu-item(item, depth)">
		<li th:with="hasChildren=${not #lists.isEmpty(item.children)}, isTop=${depth == 0}"
			th:class="'link' + ${isTop ? ' nav-item' : ''} + ${hasChildren ? (isTop ? ' dropdown' : ' dropdown-submenu') : ''} + ${currentUri == item.href ? ' link-selected' : ''} + ' ' + ${item.cssClass}">
			
			<a th:class="${isTop ? 'nav-link' : 'dropdown-link'} + ${hasChildren ? ' dropdown-toggle' : ''} "
				th:href="${hasChildren ? '#' : item.href}" 
				th:text="${item.text}"
				th:data-bs-toggle="${hasChildren ? 'dropdown' : ''}"></a>

			<ul th:if="${hasChildren}" class="dropdown-menu">
				<th:block th:each="child : ${item.children}">
					<th:block th:replace="~{::menu-item(item=${child}, depth=${depth + 1})}"></th:block>
				</th:block>
			</ul>
		</li>
	</th:block>
</html>
