<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz"
	layout:decorate="~{layout/default}">
	<body>
        <div layout:fragment="content"> 
            <div th:if="${saveError}" style="color: red;" th:text="'Error: ' + ${saveError}"> Error go here. </div>
            <div th:if="${saveSuccess}" style="color: green;" th:text="${saveSuccess}"> Success go here.  </div>

            <form th:action="@{/admin/users}" th:object="${user}" th:method="put">
                <div class="input-cont -input-cont">
                    <input th:field="*{userId}" type="hidden" />
                    <label for="firstName" class="input-label">First Name</label>
                    <input th:field="*{firstName}" type="text" class="input text-input" />
                    <label for="lastName" class="input-label">Last Name</label>
                    <input th:field="*{lastName}" type="text" class="input text-input" />
                    <label for="email" class="input-label">User Email</label>
                    <input th:field="*{email}" type="text" class="input text-input" />
                    <label for="userName" class="input-label">User Name</label>
                    <input th:field="*{userName}" type="text" class="input text-input" readonly />
                </div>
                <div class="input-cont -input-cont line-separator">
                    <label for="password" class="input-label">Change Password</label>
                    <input th:field="*{passwordData.newPassword}" type="password" class="input password-input" placeholder="   [ Passwords are not changed by default on save ] " />
                    <label for="confirmPassword" class="input-label">Confirm Change</label>
                    <input th:field="*{passwordData.confirmPassword}" type="password" class="input password-input" placeholder="   [ Passwords are not changed by default on save ] " />
                </div>
                <input type="submit" value="Save" class="input submit-input" id="submit-save_user" />
                <input th:if="${isAdmin}" type="button" value="Cancel" class="input submit-input" onclick="location.href='/admin/users'" />
            </form>		
		</div>
	</body>
</html>
