<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz"
	layout:decorate="~{layout/default}">
    <body>
        <div layout:fragment="content"> 
            <div class="about-cont">
                <div class="about-text">
                    <p>The <strong>Brain Dribbler</strong> project is an experiment in full-stack edge computing, running on the following specs:</p>

                    <h4>Hardware & Operating System</h4>
                    <ul>
                        <li>Hosted on a <a href="https://www.raspberrypi.com/" target="_blank">Raspberry Pi</a> - <i>Model 4</i></li>
                        <li>Running <a href="https://ubuntu.com/" target="_blank">Ubuntu Linux</a> - <i>v24.04 LTS</i></li>
                    </ul>

                    <h4>Web Server & Proxy</h4>
                    <ul>
                        <li>Reverse proxy from <a href="https://nginx.org/en/" target="_blank">Nginx</a> - <i>v1.24.0</i></li>
                        <li>to <a href="https://tomcat.apache.org/" target="_blank">Apache Tomcat</a> - <i>v10.1.34</i></li>
                    </ul>

                    <h4>DevOps & Language</h4>
                    <ul>
                        <li><a href="https://openjdk.org" target="_blank">Java</a> - <i>v21.0</i></li>
                        <li><a href="https://github.com/copejj/spring" target="_blank">GitHub Repository</a> - <i><a href="https://github.com/copejj/spring/blob/main/.github/workflows/deploy.yml">Automated CI/CD</a></i></li>
                        <li><a href="https://gemini.google" target="_blank">Google Gemini</a> - <i>AI-Assisted Development & Optimization</i></li>
                    </ul>
                    
                    <h4>Programming Language & Core</h4>
                    <ul>
                        <li>The powerful and mighty <a href="" target="_blank">Java</a> - <i>v21.0</i></li>
                    </ul>

                    <h4>Application Frameworks</h4>
                    <ul>
                        <li><a href="https://spring.io/projects/spring-boot/" target="_blank">Spring-Boot</a> Framework - <i>v3.4.2</i></li>
                        <li><a href="https://www.thymeleaf.org/">Thymeleaf</a> Templates - <i>v3.1.3</i></li>
                    </ul>

                    <h4>Database</h4>
                    <ul>
                        <li><a href="https://www.postgresql.org/docs/" target="_blank">PostgreSQL</a> Database - <i>v16.11</i></li>
                    </ul>
                </div>
                <div class="about-image">
                    <img th:src="@{/images/the_brain_dribbler.png}" alt="The Brain Dribbler" />
                </div>
            </div>
        </div>
    </body>
</html>
