
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:with="location='Home', pageTitle='Welcome to the Brain Dribbler!'" 	>
	<head>
		<div th:replace="fragments/head:: title(location=${location})"></div>
	</head>
	<body>
		<div th:replace="fragments/head:: header(location=${location})"></div>
		<div th:replace="fragments/head:: menus(menus=${menus})"></div>
		<div th:replace="fragments/body:: content(pageTitle=${pageTitle}, content=${content})"></div>
		<div th:replace="fragments/foot:: footer"></div>
	</body>
</div>
</html>
