<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragments/head:: includes(location=${location})}"></div>
	</head>
	<body class="full-page-content">
		<div th:replace="~{fragments/head:: header(location=${location})}"></div>
		<div th:replace="~{fragments/head:: menus(menus=${menus})}"></div>
		<div class="content-cont">
			<div th:replace="~{fragments/body:: title(title=${pageTitle})}"></div>
            <div th:if="${saveError}" style="color: red;" th:text="'Error: ' + ${saveError}"> Error go here. </div>
            <div th:if="${saveSuccess}" style="color: green;" th:text="${saveSuccess}"> Success go here.  </div>

            <form th:action="@{/company}" th:object="${company}" th:method="put">
                <div class="input-cont -input-cont">
                    <input th:field="${companyId}" type="hidden" />

                    <label for="*{companyName}" class="input-label">Company Name</label>
                    <input th:field="*{companyName}" type="text" class="input text-input" />

                    <label for="*{companyEmail}" class="input-label">Company Email</label>
                    <input th:field="*{companyEmail}" type="text" class="input text-input" />

                    <label for="*{companyWebsite}" class="input-label">Company Website</label>
					<div class="input-group">
						<input th:field="*{companyWebsite}" type="text" class="input text-input" />
						<a th:href="*{companyWebsite}" target="_blank"> view </a>
					</div>

                    <label for="*{companyPhone}" class="input-label">Company Phone</label>
                    <input th:field="*{companyPhone}" type="text" class="input text-input" />

                    <label for="*{companyFax}" class="input-label">Company Fax</label>
                    <input th:field="${companyFax}" type="text" class="input text-input" />
				</div>
                <input type="submit" name="save_company" value="Save" class="input submit-input" id="submit-save_company" />
                <input type="button" value="Cancel" class="input submit-input" onclick="location.href='/companies'" />
            </form>		
		</div>
		<div th:replace="~{fragments/foot:: footer}"></div>
    </body>
</html>
