name: CI Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      # This environment variable in the runner is set using a GitHub secret
      SPRING_DATASOURCE_USERNAME: ${{ secrets.DB_USER }}
      SPRING_DATASOURCE_PASSWORD: ${{ secrets.DB_PASS}}
      SPRING_DATASOURCE_URL: jdbc:postgresql://${{ secrets.DB_HOST }}:5432/${{ secrets.DB_NAME }}

      API_BASE_URL: ${{ vars.API_BASE_URL }}
      SERVER_CONTEXT_PATH: ${{ vars.SERVER_CONTEXT_PATH }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Build with Maven
        run: mvn clean install 
