name: CI Pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS}}
      DB_URL: jdbc:postgresql://${{ secrets.DB_HOST }}:${{ secrets.DB_PORT }}/${{ secrets.DB_NAME }}

      API_BASE_URL: ${{ vars.API_BASE_URL }}
      SERVER_CONTEXT_PATH: ${{ vars.SERVER_CONTEXT_PATH }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Build with Maven
        run: mvn clean install 
