name: Maven CI/CD Pipeline

on:
  push:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update db url
        run: sed -i 's/${DB_URL}/jdbc:postgresql://${{ secrets.DB_HOST }}:${{ secrets.DB_PORT }}/${{ secrets.DB_NAME }}/' src/main/resources/application.properties

      - name: Update db username
        run: sed -i 's/${DB_USER}>/${{ secrets.DB_USER }}/' src/main/resources/application.properties

      - name: Update db password
        run: sed -i 's/${DB_PASS}/${{ secrets.DB_PASS }}/' src/main/resources/application.properties

      - name: Update api base url
        run: sed -i 's/${API_BASE_URL}/${{ vars.API_BASE_URL }}/' src/main/resources/application.properties 

      - name: Update server context path
        run: sed -i 's/${SERVER_CONTEXT_PATH}/${{ vars.SERVER_CONTEXT_PATH }}/' src/main/resources/application.properties
