name: Production Deployment

on:
  release:
    branches:
      - master
    types: [published]

jobs:
  deploy-frontend:
    name: Deploy Frontend

    runs-on: ubuntu-latest

    environment:
      name: Prod
      url: https://interstate.roadys.com

    steps:
      - name: Executing Remote SSH Commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ vars.HOST }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ${{ vars.PATH }}
            echo -e "============\nFETCHING RELEASE INFORMATION\n============"
            git fetch origin --tags
            echo -e "============\nSWITCHING TO NEW RELEASE\n============"
            git checkout ${{github.ref_name}}
            echo -e "============\nINSTALLING...\n============"
            composer install --no-dev
            echo -e "============\nREPORT\n============"
            git show --summary
