name: Production Build and Deploy

on: 
  release:
    types: [published]

jobs:
  deploy:
    name: Deploy to Production

    runs-on: ubuntu-latest

    steps:
      - name: Executing Remote SSH Commands
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ vars.DRIBBLER_HOST }}
          username: ${{ vars.DRIBBLER_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY}}
          port: ${{ secrets.SSH_PRIVATE_PORT}}
          script: |
            cd ${{ vars.DRIBBLER_PATH }}
            echo -e "============\nCLEANING UP\n============"
            git reset --hard HEAD
            echo -e "============\nFETCHING RELEASE INFORMATION\n============"
            git fetch origin --tags
            echo -e "============\nSWITCHING TO NEW RELEASE\n============"
            git checkout ${{github.ref_name}}
            git pull origin ${{github.ref_name}}
            echo -e "============\nSETTING PROPERTIES\n============"
            sed -i 's/<db_url>/${{ secrets.DB_URL }}/' src/main/resources/application.properties
            sed -i 's/<db_user>/${{ secrets.DB_USER }}/' src/main/resources/application.properties
            sed -i 's/<db_pass>/${{ secrets.DB_PASS }}/' src/main/resources/application.properties
            sed -i 's/<api_base_url>/${{ vars.API_BASE_URL }}/' src/main/resources/application.properties 
            sed -i 's/<server_context_path>/${{ vars.SERVER_CONTEXT_PATH }}/' src/main/resources/application.properties
            echo -e "============\nDatabase Updates\n============"
            bin/update.sh
            echo -e "============\nBUILDING WAR\n============"
            mvn clean package -DskipTests
            echo -e "============\nINSTALLING\n============"
            cp ${{ vars.DRIBBLER_TARGET_WAR }} ${{ vars.DRIBBLER_WAR_PATH }}/spring-${{github.ref_name}}.war
            echo -e "============\nCLEANING UP\n============"
            git reset --hard HEAD
            echo -e "============\nREPORT\n============"
            git show --summary
